{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left_side
{
    position: relative;
    background: #003147;
    padding: 40px;

}
.profilText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.profilText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profilText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profilText h2
{
    color: #fff;
    font-size: 1em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profilText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}

.ContInf{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.ContInf ul{
    position: relative;
}
.ContInf ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    
}
.ContInf ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: #03a9f4;
}
.ContInf ul li span{
    color: #c3bebe;
    font-weight: 300;

}
.ContInf ul li a{
    color: #c3bebe;
    font-weight: 300;

}
.ContInf.education li
{
    margin-bottom: 1px;
}
.ContInf.education h5
{
    color: #03a9f4;
    font-weight: 600;
}
.ContInf.education h4:nth-child(1)
{
    color: #fff;
    font-weight: 600;
}
.ContInf.education h4
{
    color: #bcb3b3;
    font-weight: 300;
}
.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
    
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    
}
p
{
    color: #333;
}
.about .text h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}